body{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}
a {
    color: gray;
    text-decoration: none;
}

/* Header, Nav, and Footer Styling Rules */
.header {
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    text-shadow: 2px 2px 10px;
}
.nav h2 ul li{
    display: inline-flex;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 40px;
    font-style: bold;
    text-shadow: 2px 2px 10px;
}
.footer {
    display: inline-flex;
    align-content: bottom;
}

/*Home Page Styling Rules*/

.homeMagicCake {
    color: darkred;
    font-size: 24px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.homeMagicCake img {
    cursor: pointer;
    max-width: 500px;
    height: auto;
}

.main h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 4px;
}
.main h3 , .main label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    font-weight: bold;
}


/* Recipes Styling Rules */

.recipes img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.recipes h3 a {
    color: darkred;
    font-size: 24px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.recipes p {
    color: darkred;
    font-size: 16px;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.recipesList {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
.text-block{
    border: 2px solid orange;
    width: 100%;
    box-sizing: border-box;
}
.text-block h3{
    /* align-items: left; */
    text-align: left;
    margin: 0 0 8px;
}
/* .text-block p {
    margin: 0;
} */
@media (max-width: 600px) {
    .recipesList {
        grid-template-columns: 1fr;
    }
}

/* Suggest Styling Rules */
.suggestList {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
}
.form-block{
    display: contents;
}
.form-block label {
    grid-column: 1;
    text-align: left;
}
.form-block input {
    grid-column: 2;
}
.form-block button {
    grid-column: 1 / span 2;
    justify-self: center;
}
.form-block button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Detailed Recipe Styling Rules*/
 .detailList {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
.detailList img{
    width: 100%;
    height: auto;
    cursor: pointer;
    grid-column: 1;
    grid-row: 1 / span 3;
}
.details {
    grid-column: 2;
}
.details h3{
    border: 0px 0px 5px 0px;
    border-bottom-style: solid;
    border-color: blue;
    text-align: left;
}
.details li{
    text-align: left;
}